@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* This is what makes the animation possible */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    transition: 0.3s;
    background: #f5f5f5;
    color: #202020;
}

header {
    background-color: #735238;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainTitle {
    margin: 20px 0 0 16px;
    color: #fff;
}

.subtitle {
    margin: 0 0 20px 16px;
    font-size: 1rem;
    font-style: italic;
    color: #f0e6e6;
}

.themeBtn {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    width: 140px;
    height: 40px;
    margin-right: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Main content of the document */

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.8s ease forwards;
    opacity: 0;
}

.intro {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.start blockquote {
    margin: 30px 0;
    padding: 0 20px;
    font-size: 1.5rem;
    font-style: italic;

}

.playlist-button {
    width: 200px;
    padding: 10px 20px;
    background-color: #4d3825;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.playlist-button:hover {
    background-color: #3a2c1d;
}

.cape {
    display: flex;
    flex-direction: row;
}
.bookTitle {
    margin: 0 0 20px 16px;
}

.bookText {
    margin: 0 0 20px 16px;
}

.divineRivalsImg {
    width: 305px;
    border-radius: 10px;
    margin: 0 0 20px 16px;
}

.letters {
    display: flex;
    flex-direction: column;
    
    
}

.letterTitle {
    margin: 20px 0 0 16px;
}

.letter {
    margin: 20px 0 0 16px;
}

footer {
    padding: 10px 5px 20px 5px;
    background: #735238;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #f0e6e6;
}

footer a:hover {
    color: #6980e2;
}

/* A divider for the sections*/

.soft-divider {
    margin: 40px auto;
    width: 30%;
    border: none;
    height: 1px;
    background: #4d3825;
    opacity: 0.4;
}

/* Dark mode class */

.darkMode {
    background-color: #202020;
    color: #f5f5f5;
}

.darkMode .soft-divider{
    background: #f0e6e6;
}

/* Configuring the responsivity */

@media(max-width: 540px){
    body {
        width: 100%;
    }

    section {
        padding: 10px;
    }

    .cape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divineRivalsImg {
        margin: 10px 0;
    }

}